# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtualenv
.venv/
venv/
ENV/
.env

# Logs
logs/
*.log

# Tools caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
